<%- include("../includes/navbar") %>

<div class="row mt-4">
  <div class="col-8 offset-2">
    <h3>Edit Listing</h3>

    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      enctype="multipart/form-data"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label">Title</label>

        <input
          type="text"
          name="listing[title]"
          class="form-control"
          value="<%= listing.title %>"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>

        <textarea
          name="listing[description]"
          class="form-control"
          required
        ><%= listing.description %></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Current Image</label>

        <br />

        <img
          src="<%= originalImageUrl %>"
          style="height: 220px"
          class="rounded"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Upload New Image</label>

        <input
          type="file"
          name="listing[image]"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Price</label>

        <input
          type="number"
          name="listing[price]"
          class="form-control"
          value="<%= listing.price %>"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Location</label>

        <input
          type="text"
          name="listing[location]"
          class="form-control"
          value="<%= listing.location %>"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Country</label>

        <input
          type="text"
          name="listing[country]"
          class="form-control"
          value="<%= listing.country %>"
          required
        />
      </div>

      <button class="btn btn-dark">
        Update Listing
      </button>
    </form>
  </div>
</div>
